:root {
  --primary-color: #00BCD4;
  --light-primary-color: #B2EBF2;
  --dark-primary-color: #0097A7;
  --secondary-color: #CDDC39;
  --light-secondary-color: #F0F4C3;
  --dark-secondary-color: #AFB42B;

  --background-color: #FFFFFF;
  --surface-color: #FFFFFF;
  --error-color: #B00020;

  --on-primary-color: #FFFFFF;
  --on-secondary-color: #FFFFFF;
  --on-background-color: #000000;
  --on-surface-color: #000000;
  --on-error-color: #FFFFFF;

  --primary-shadow-color: #004E51;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--on-background-color);
}

div {
  margin: 16px;
}

ul {
  margin: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.md-surface {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}

.md-primary,
.md-primary a {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}
.md-dark-primary,
.md-dark-primary a {
  background-color: var(--dark-primary-color);
  color: var(--on-primary-color);
}

.md-secondary {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
}

.md-error {
  background-color: var(--error-color);
  color: var(--on-error-color);
}

.elevation-4 {
  box-shadow: 0 0 16px 4px var(--primary-shadow-color);
}

.site-header {
  padding: 16px;
}

.site-header > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 24px;
}

.site-menu {
  padding: 0px;
}

.site-menu li {
  display: inline;
}

.site-menu li:not(:last-child) {
  margin-right: 16px;
}
