<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
  <title>{{- block "title" . }}{{ .Site.Title }}{{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">

  {{ $primary :=  index $.Site.Data.colors ($.Param "primaryColorTheme") }}
  <meta name=”theme-color” content="{{ with $.Param "primaryColor" }}{{.}}{{else}}{{ $primary.main }}{{end}}">

  {{ if .Description }}<meta name="description" content="{{ .Description }}">
  {{ else if .IsPage }}<meta name="description" content="{{ .Summary }}">{{ end }}

  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.ico">
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/logo.png">
  <link rel="canonical" href="{{ .Permalink }}">

  <style type="text/css">{{ replaceRE " +" " " (replaceRE "\n|(/.+/)" "" (partial "styles.css" .)) | safeCSS }}</style>
</head>
<body>
  {{- partial "site-header.html" . -}}

  {{- block "main" . }}{{- end }}

  {{- partial "site-footer.html" . -}}

  {{- partial "overlay-menu.html" . -}}
</body>
</html>

<script type="text/javascript">
  {{ replaceRE " +" " " (replaceRE "\n|(//.+)" "" (partial "scripts.js" .)) | safeJS }}
</script>
