<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>

  {{ partial "site-favicon.html" . }}

  <style type="text/css">{{ replaceRE " +" " " (replaceRE "\n|(/.+/)" "" (partial "styles.css" .)) | safeCSS }}</style>
</head>
<body>
  {{- partial "site-header.html" . -}}

  {{- block "main" . }}{{- end }}

  {{- partial "site-footer.html" . -}}
</body>
</html>

<script type="text/javascript">
  {{ replaceRE " +" " " (replaceRE "\n|(//.+)" "" (partial "scripts.js" .)) | safeJS }}
</script>
