{{ define "main" }}
<article class="main article">
  <div class="single-header-container">
    <header class="single-header">
      <h1>{{- .Title -}}</h1>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "January 2, 2006" -}}
      </time>
    </header>
  </div>

  {{- partial "table-of-content.html" . -}}

  <div class="single-main-container">
    <main class="single-main">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
    </main>
  </div>
  <aside>
    {{- partial "related.html" . -}}
  </aside>
  <div class="disqus">
    {{ template "_internal/disqus.html" . }}
  </div>

</article>
{{ end }}
