{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
<header>
  <nav class="pv3 ph3 ph4-ns" role="navigation">
    <a href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    {{ if .Site.Menus.main }}
    <ul>
      {{ range .Site.Menus.main }}
      <li>
        <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </nav>
</header>
