{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
<header class="site-header site-header-shown">
  <nav class="site-navigation" role="navigation ">
    <div class="site-title">
      <a href="{{ .Site.BaseURL }}">
        {{- .Site.Title -}}
      </a>
    </div>
    {{ if .Site.Menus.main }}
    <ul class="site-menu" >
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </nav>
</header>
