:root {
  --base-font-size: 18px;

  /* material colors define */
  /* primary color */
  {{ $primary :=  index $.Site.Data.colors ($.Param "primaryColorTheme") }}
  --primary-color: {{ with $.Param "primaryColor" }}{{.}}{{else}}{{ $primary.main }}{{end}};
  --light-primary-color: {{ with $.Param "lightPrimaryColor" }}{{.}}{{else}}{{ $primary.light }}{{end}};
  --dark-primary-color: {{ with $.Param "darkPrimaryColor" }}{{.}}{{else}}{{ $primary.dark }}{{end}};

  /* secondary color: light green */
  {{ $primary :=  index $.Site.Data.colors ($.Param "secondaryColorTheme") }}
  --secondary-color: {{ with $.Param "secondaryColor" }}{{.}}{{else}}{{ $primary.main }}{{end}};
  --light-secondary-color: {{ with $.Param "lightSecondaryColor" }}{{.}}{{else}}{{ $primary.light }}{{end}};
  --dark-secondary-color: {{ with $.Param "darkSecondaryColor" }}{{.}}{{else}}{{ $primary.dark }}{{end}};

  /* surface and background color */
  --surface-color: {{ $.Param "surfaceColor" }};
  --background-color: {{ $.Param "backgroundColor" }};

  /* text color on primary color */
  --on-primary-color: {{ $.Param "onPrimaryColor" }};
  --on-light-primary-color: {{ $.Param "onLightPrimaryColor" }};
  --on-dark-primary-color: {{ $.Param "onDarkPrimaryColor" }};

  /* text color on seconary color */
  --on-secondary-color: {{ $.Param "onSecondaryColor" }};
  --on-light-secondary-color: {{ $.Param "onLightSecondaryColor" }};
  --on-dark-secondary-color: {{ $.Param "onDarkSecondaryColor" }};

  /* text color on surface color */
  --base-text-color: {{ $.Param "baseTextColor" }};
  --light-text-color: {{ $.Param "lightTextColor" }};
  --dark-text-color: {{ $.Param "darkTextColor" }};


  --surface-shadow-color: #00000040;
  --site-header-footer-shadow: 0 2px 4px 2px var(--surface-shadow-color);
  --surface-shadow: 0 1px 2px 1px var(--surface-shadow-color);
  --surface-hover-shadow: 0 2px 16px 1px var(--surface-shadow-color);
  --content-max-width: 40rem;
}


html {
  font-size: var(--base-font-size);
  line-height: 1.9;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--base-text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin-top: 3rem;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 2rem;
}

time {
  font-size: 0.9rem;
  color: var(--light-text-color);
}

code {
  font-style: italic;
}

pre {
  background-color: var(--dark-primary-color);
  padding: 1.5rem 1rem;
  overflow: auto;
  border-radius: 2px;
}

pre code {
  font-size: 0.9rem;
  color: var(--on-dark-primary-color);
  font-weight: initial;
  font-style: initial;
}

blockquote {
  color: var(--light-text-color);
  background-color: var(--surface-color);
  font-size: 0.9rem;
  margin: 2rem 0;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 4px -1px var(--surface-shadow-color);
  border-top: solid 0.5rem var(--light-primary-color);
  border-radius: 2px;
}


.site-header a,
.site-footer a {
  color: var(--light-primary-color);
}
.site-header a:hover,
.site-footer a:hover {
  color: var(--on-dark-primary-color);
}
.site-header {
  position: fixed;
  width: 100%;
  color: var(--on-dark-primary-color);
  background-color: var(--dark-primary-color);
  box-shadow: var(--site-header-footer-shadow);
  z-index: 10;
  transition: 0.5s;
}
.site-header.site-header-hidden {
  margin-top: -5rem;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  min-height: 3.236rem;
}
.site-title {
  font-size: 1rem;
  margin-right: 2rem;
}
.site-menu {
  font-size: 0.9rem;
  padding: 0;
  margin: 0.5rem 0;
}
.site-menu li {
  display: inline;
}
.site-menu li:not(:last-child) {
  margin-right: 1em;
}


.site-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0rem 2rem;
  margin-top: 8rem;
  min-height: 3.236rem;
  color: var(--on-dark-primary-color);
  background-color: var(--dark-primary-color);
  box-shadow: var(--site-header-footer-shadow);
}
.site-footer-copyright {
  font-size: 0.9rem;
  margin-right: 1.5rem;
}
.site-footer-hugo {
  font-size: 0.9rem;
  margin: 0;
}
.site-footer-hugo > a {
  text-decoration: underline;
}


.main a {
  color: var(--secondary-color);
}
.main a:visited {
  color: var(--dark-secondary-color);
}
.main a:hover {
  text-decoration: underline;
}


.list-header-container {
  background-color: var(--primary-color);
}
.list-header {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: var(--content-max-width);
  min-height: 8.360rem;
}
.list-content {
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
  max-width: var(--content-max-width);
}
.list-header h1 {
  font-size: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 0.4rem;
  color: var(--on-primary-color);
}
.posts-count {
  font-size: 0.9rem;
  color: var(--light-primary-color);
}
.list-section {
  position: relative;
  margin: 0 auto;
  padding: 3rem 0.2rem 2rem 0.2rem;
  max-width: 52rem;
}
.li-sm a,
.li-sm a:visited,
.li-sm a:hover {
  color: var(--base-text-color);
  text-decoration: none;
}
.li-sm {
  margin: 0 auto 3rem auto;
  padding: 3rem 1rem;
  background-color: var(--surface-color);
  box-shadow: var(--surface-shadow);
  border-radius: 4px;
  box-sizing: border-box;
  transition-duration: 0.15s;
}
.li-sm a {
  display: block;
  margin: 0 auto;
  max-width: var(--content-max-width);
}
.li-sm:hover {
  box-shadow: var(--surface-hover-shadow);
}
.li-sm-title {
  margin: 1rem 0;
}


.pagination {
  margin: 0 auto;
  max-width: var(--content-max-width);
}
.pagination li {
  position: relative;
  display: inline-block;
  margin: 0 0.3rem;
  font-weight: bold;
}
.pagination li a {
  padding: 0.7rem 0.8rem;
  border-radius: 2px;
  transition: 0.1s;
}
.pagination li > a:hover,
li.active > a,
li.active > a:visited {
  color: var(--on-secondary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
}
li.active > a,
li.active > a:visited {
  pointer-events: none;
}


.single-header-container {
  min-height: 24.721rem;
  background-color: var(--primary-color);
  box-shadow: var(--surface-shadow);
}
.single-header {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: var(--content-max-width);
}
.single-header > h1 {
  font-size: 2rem;
  margin-top: 8rem;
  color: var(--on-primary-color);
}
.single-header > time {
  color: var(--light-primary-color);
}
.single-header .author {
  margin-left: 2rem;
  color: var(--light-primary-color);
}


.toc {
  font-size: 0.9rem;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: var(--content-max-width);
}
.toc ul {
  list-style: none;
}
.toc nav>ul {
  margin-top: 2rem;
  padding: 0;
}
.toc ul li:before {
  content: "・ ";
  color: var(--secondary-color);
}
.toc ul ul {
  padding-left: 1.5rem;
}

.single-main-container {
  margin: 3rem auto 0 auto;
  max-width: 52rem;
  background-color: var(--surface-color);
  box-shadow: 0 0 12px -2px var(--surface-shadow-color);
  border-radius: 2px;
}

.single-main {
  margin: 0 auto;
  padding: 2rem 1rem 7rem 1rem;
  max-width: var(--content-max-width);
}


.related {
  margin: 0rem auto;
  padding: 0 1rem;
  max-width: var(--content-max-width);
}
.related h3 {
  color: var(--dark-text-color);
  margin: 5rem 0 0 0;
}
.li {
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 2px;
}
.li time {
  display: block;
  font-size: 0.9rem;
  color: var(--light-text-color);
}
.li-title {
  display: inline-block;
  margin: 0 1rem;
  color: var(--base-text-color);
}
.li a:hover .li-title {
  color: var(--secondary-color);
}


.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 0;
}
a.term:visited,
.term {
  font-size: 0.9rem;
  margin: 0 1rem 1rem 0;
  padding: 0.1rem 0.4rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  transition: 0.2s;
}
a.term:hover,
.term:hover {
  color: var(--on-secondary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
}


.terms-section-container {
  max-width: 52rem;
  margin: 3rem auto 0 auto;
  background-color: var(--surface-color);
  box-sizing: border-box;
}
.terms-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 3rem 1rem;
  color: var(--base-text-color);
  max-width: var(--content-max-width);
}
.terms-section a.term-sm {
  font-size: 1.2rem;
  margin: 0 2rem 2rem 0;
  padding: 0.4rem 0.9rem;
  font-weight: bold;
  color: var(--base-text-color);
  min-width: 40%;
}
.terms-section a:hover.term-sm,
a:hover.term-posts {
  color: var(--secondary-color);
  text-decoration: none;
}
.term-posts {
  font-size: 0.9rem;
}




/* styles for mobile */
@media (max-width:420px) {
  .site-navigation {
    padding: 0 0.5rem;
  }
  .site-menu {
    display: none;
  }
  .site-footer {
    padding: 1rem;
  }
  .pagination {
    padding-left: 0;
  }
  .pagination li {
    margin: 0 0.1rem;
  }
  .pagination li a {
    padding: 0.3rem 0.5rem;
  }
}



/* 404 not found. */
.not-found {
  position: relative;
  padding-top: 8rem;
  height: 100%;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.not-found h1 {
  font-size: 3rem;
  text-align: center;
}
